!Vars
#define $font_size 15
#define $font_size_bold 15
#define $font_size_italic 15
#define $font1 Ubuntu Mono
#define $font2 FuraMonoNerdFont
#define $font3 Noto Sans Mono CJK JP
#define $font1_bold Ubuntu Mono
#define $font2_bold FuraMonoNerdFont
#define $font3_bold Noto Sans Mono CJK JP
#define $font1_italic Ubuntu Mono
#define $font2_italic FuraMonoNerdFont
#define $font3_italic Noto Sans Mono CJK JP

!General
URxvt.iso14755: False
URxvt*saveLines: 100000
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true
URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
URxvt.secondaryWheel: 1
URxvt*scrollBar: false
URxvt.cursorBlink: 1
URxvt.cursorUnderline: 1
URxvt*depth: 32
URxvt*termName: rxvt-unicode-256color
!URxvt*termName: screen-256color
URxvt*internalBorder: 20

!Clipboard
URxvt.clipboard.autocopy: true
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.perl-ext-common: default,clipboard,config-reload,keyboard-select,resize-font

!Keyboard select
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search

!Font
URxvt*font:\
	xft:$font1:size=$font_size,\
	xft:$font2:size=$font_size,\
	xft:$font3:size=$font_size
URxvt*boldFont:\
	xft:$font1_bold:size=$font_size_bold:style=bold,\
	xft:$font2_bold:size=$font_size_bold:style=bold,\
	xft:$font3_bold:size=$font_size_bold:style=bold
URxvt*italicFont:\
	xft:$font1_italic:size=$font_size_italic:style=italic,\
	xft:$font2_italic:size=$font_size_italic:style=italic,\
	xft:$font3_italic:size=$font_size_italic:style=italic

!URxvt*letterSpace: 2
!URxvt*lineSpace: 1
!URxvt.keysym.Control-plus: resize-font:bigger
!URxvt.keysym.Control-minus: resize-font:smaller
!URxvt.keysym.Control-equal: resize-font:reset

!Old
!URxvt.letterSpace: -1
!URxvt.keysym.Home: \033[1~
!URxvt.keysym.End: \033[4~
!URxvt.keysym.KP_Home: \033[1~
!URxvt.keysym.KP_End:  \033[4~

!urxvt*transparent: true
!urxvt*shading: 70
!URxvt.font: xft:HackNerdFont:size=13
!Xcursor.size: 60

! Colors file
#include ".Xcolors"
