configuration {
	modi: "drun";
	font: "Inconsolata Bold 24";
	theme: "theme";
	show-icons: true;
	icon-theme: "Papirus";
	sort: true;
	sorting-method: "fzf";
	eh: 2;
	auto-select: false;
	combi-modi: "run,drun,ssh";
	matching: "fuzzy";
	terminal: "urxvtc -e bash -ci";
	display-drun: "";
}
