#navigator-toolbox:not(:focus-within) #toolbar-menubar > * {
  background-color: rgb(232, 232, 231);
}

:root:not([customizing]) #navigator-toolbox:not(:focus-within) #TabsToolbar {
  visibility: collapse;
}

:root:not([customizing]) #navigator-toolbox:not(:focus-within) {
  max-height: 1px;
  min-height: calc(0px);
  overflow: hidden;
}